.App {
  text-align: center;
}

.App-startBtn {
  height: 40vmin;
  pointer-events: none;
}

.PortfolioComp {
  background-color: #1d1f24;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ContactComp {
  background-color: #1d1f24;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -1;
}

.aboutComp {
  background-color: #1d1f24;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -1;
}
.BioComp{
  background-color: #1d1f24;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -1;
}
.App-header {
  background-color: #1d1f24;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bio-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.card-img-top {
  border-radius: 50px;
}

.bioText {
  padding-left: 16rem;
  padding-right: 16rem;
}
.PHome {
  font-size: 2rem;
}
.typedHome {
  color: #f87373;
}

.Navitem {
  padding-left: 120px;
  padding-right: 120px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #f87373;
}

.Nav {
  background-color: #1d1f24;
  padding-top: 25px;
  padding-bottom: 30px;
}
