.App {
  text-align: center;
  background-color: #1d1f24;
}

.App-startBtn {
  height: 40vmin;
  pointer-events: none;
}

.PortfolioComp {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.ContactComp {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.aboutComp {
  background-color: #1d1f24;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -1;
}
.BioComp {
  background-color: #1d1f24;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -1;
}
.App-header {
  background-color: #1d1f24;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bio-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.card-img-top {
  border-radius: 50px;
}

.bioText {
  padding-left: 16rem;
  padding-right: 16rem;
}
.PHome {
  font-size: 2rem;
}
.typedHome {
  color: #f87373;
}

span {
  color: #f87373;
  font-weight: bold;
}

.Navitem {
  padding-left: 120px;
  padding-right: 120px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #f87373;
}

.Nav {
  background-color: #1d1f24;
  padding-top: 25px;
  padding-bottom: 30px;
}

.ProjectsCard {
  padding-top: 30px;
  padding-bottom: 50px;
}

.ProjectsIntro {
  font-size: 2rem;
}

.proImg {
  border-width: 1px;
  border-color: #f87373;
}

.projDis {
  padding-right: 80px;
  padding-left: 80px;
}

button {
  background-color: #f87373;
  color: #1d1f24;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border-style: hidden;
}

.midPart {
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.myImg {
  border-radius: 50px;
}
/* 
img .socialMedia{
padding: 40px;
} */
